body {
    font-family: 'Dosis',
        sans-serif;
    background-color: black;
    color: green;
}

button {
    background-color: black;
    color: green;
    border-color: green;
    border-style: dashed;
}

input {
    background-color: black;
    border-color: green;
    border-style: dashed;
}

.title {
    text-align: center;
}